.dropdown-menu .lang-item {
    /*justify-content: center;*/
    /*display: flex;*/
}

.dropdown-menu.lang-item{
    min-width: 0;
    padding: 0.2rem;
}
li.lang-item:first-child {
    /*padding-top: 0rem;*/
}
li.lang-item {
    /*padding-top: 1rem;*/
    cursor: pointer;
    padding: 0.2rem;
}

.fi {
    border: 1px solid black;
}

.dropdown-toggle:empty::after {
    margin-left: 1.2rem;
}

.dropdown-menu[data-bs-popper] {
    margin-left: -0.7rem;
}

.nav-link-react {
    text-decoration: unset;
    padding: 0.5rem;
}

.nav-link-react.active {
    color: white;
    background-color: #0d6efd;
    border-radius: 0.5rem;
}

.nav-link-react.active:hover {
    background-color: #0b5ed7;
}
